.contentWrapper {
    width: 100%;
    max-width: 1010px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 282px;
}

.titleDiv {
    margin-bottom: 20px;
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px
}

.hr {
    height: 5px;
    width: 112px;
    border: none;
    background: #00C4E0;
    transition: width .5s ease;
}

.hr:hover {
    width: 100%
}

.contentDiv {
    margin-bottom: 100px;
}

.content {
    color: #8E8E8E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nameInput {
    border-radius: 10px;
    border: 2px solid #E3E3E3;
    width: 1011px;
    height: 58px;
    flex-shrink: 0;
    color: #E3E3E3;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.formField::placeholder {
    color: transparent;
}

.formField:placeholder-shown~.form__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}

.label,
.formField:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}

.formField:focus~.form__label {
    color: #009788;
}

.formField:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #009788;
}

.inputsWrapper {
    width: 100%;
}

.inputLine {
    width: 100%;
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
}

.cvBtn:hover {
    color: white;
}

.inputsWrapper>.inputLine:last-child {
    margin-bottom: 0px !important;
}