.contentWrapper {
    width: 100%;
    max-width: 1010px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 282px;
}

.titleDiv {
    margin-bottom: 20px;
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px
}

.hr {
    height: 5px;
    width: 112px;
    border: none;
    background: #00C4E0;
    transition: width .5s ease;
}

.hr2 {
    height: 5px;
    width: 95px;
    border: none;
    background: #00C4E0;
    transition: width .5s ease;
}

.hr2:hover {
    width: 100%
}

.hr:hover {
    width: 100%
}

.contentDiv {
    margin-bottom: 100px;
}

.content {
    color: #8E8E8E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inputsWrapper {
    width: 100%;
}

.inputLine {
    width: 100%;
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
}

.cvBtn:hover {
    color: white;
}

.inputsWrapper>.inputLine:last-child {
    margin-bottom: 0px !important;
}

.selectedWordInTitle {
    color: #00A5C7;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}