.contentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.titleDiv {
    margin-bottom: 20px;
}

.title {
    color: #002B43;
    font-size: 28px;
    font-weight: 500;
    line-height: 50px
}

.hr {
    height: 5px;
    width: 112px;
    border: none;
    background: #00C4E0;
    transition: width .5s ease;
}

.hr2 {
    height: 5px;
    width: 68px;
    border: none;
    background: #00C4E0;
    transition: width .5s ease;
}

.hr2:hover {
    width: 100%
}

.hr:hover {
    width: 100%
}

.contentDiv {
    margin-bottom: 50px;
}

.content {
    font-style: normal;
    line-height: normal;
    text-align: center;
    font-weight: 400;
}

.inputsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputLine {
    width: 535px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.uploadCvLabel,
.sendBtn {
    height: 40px;
    background-color: white;
    border: 2px solid #00A5C7;
    color: #00A5C7;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 12px;
}

.sendBtn {
    background-color: #00A5C7;
    color: #FFF;
    border: none;
}

.uploadCvInput {
    display: none;
}

.fileNameShowDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.removeFileBtn{
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

.inputsWrapper>.inputLine:last-child {
    margin-bottom: 0px !important;
}

.selectedWordInTitle {
    color: #00A5C7;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}