.contentWrapper {
    position: relative;
    display: flex;
    margin-bottom: 120px;
}

.title {
    color: #002B43;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-bottom: 16px;
}

.hr {
    width: 77px;
    height: 4px;
    border: none;
    background: #00C4E0;
    margin-bottom: 40px;
    transition: width .5s ease;
}

.hr:hover {
    width: 225px
}

.triangles {
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    z-index: 0;
}

.triangleWrapper {
    border: 1px solid;
    height: 300px;
    width: 350px;
}
