.headerCarouselDiv {
    margin-bottom: 122px;
}
/* 
.padcLlcYear {
    margin-bottom: 120px;
}

.padcLlcYearP {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    left: -670px;
} */