.sliderWrapper {
    position: relative
}

.sliderWrapper2 {
    position: relative
}

.mainDiv {
    height: 430px;
}

.slideContent {
    height: 430px;
    width: 55%;
}

.slideContent2 {
    height: 100%;
}

.slideImgDiv {
    height: 430px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.subTitle {
    color: #A3A3A3;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 57px;
    margin-bottom: 20px;
}

.title {
    color: #223150;
    font-size: 52px;
    max-width: 760px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}

.content {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 105px;
}

.content2 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
}

.contentDiv {
    width: 660px;
    height: 195px;
    margin-bottom: 16px;
}

.title2 {
    font-size: 28px;
    color: #00c2df;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.ourTeamInfo {
    width: 100%;
}

.cardInfo {
    position: relative;
    width: 356px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    margin: 10px 1%;
}

.darkDivOnCard {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .4;
    z-index: 10;
}

.cardImg {
    width: calc(100% + 50px);
    height: 100%;
    object-fit: cover;
    object-position: 0 -50px;
    transform: translate3d(-40px, 0, 0);
}

.nameAndSurename {
    color: white;
    position: absolute;
    z-index: 1000;
    left: 10px;
    bottom: 90px;
    font-weight: 500;
    font-size: 1.35rem;
    text-transform: uppercase;
    letter-spacing: -.2px;
}

.profession {
    position: absolute;
    left: 10px;
    bottom: -100%;
    width: 95%;
    text-align: left;
    z-index: 1000;
    background-color: lightgray;
    opacity: .7;
    padding: 2px;
    font-weight: 600;
}

.professionP {
    color: black;
    font-size: 16px;
    letter-spacing: 2px;

}

.darkDivOnCard,
.profession,
.cardImg {
    transition: all .5s ease;
}

.cardWrapper:hover * .profession {
    bottom: 60px;
}

.cardWrapper:hover * .darkDivOnCard {
    opacity: 0;
}

.cardWrapper:hover * .cardImg {
    transform: translate3d(0, 0, 0);
}

.slideContentWrapper {
    display: flex;
}

.selectedWordInTitle {
    color: #00c2df;
}