.main {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact{
  width: 100%;
  max-width: 1425px;
  height: 620px;
  border: 1px solid green;
  margin-bottom: 210px;
}

