.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #C4C4C4;
    margin-top: 100px;
    padding-top: 60px;
}

.logoAndLinksWrapper {
    width: 100%;
    display: flex;
    margin-bottom: 100px
}

.logoDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.logosWrapper div:last-child {
    margin-right: 0px;
}

.padcLogoDiv {
    margin-bottom: 25px;
}

.logoWrapper {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1A2B39;
    margin-right: 10px;
    border-radius: 50%;
    padding: 9px 5px 5px;
    cursor: pointer;
}

.logosWrapper {
    display: flex;
}

.navigationDiv {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigateLines {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 200px;
}

.navigationDiv:last-child>.navigateLines:last-child {
    margin-right: 0;
}

.link {
    color: #5E6576;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 22px;
}

.allRightsDiv {
    text-align: center;
}

.allRightsTitle {
    color: #7B7B7B;
    text-align: center;
    font-weight: 400;
    margin-bottom: 16px;
    font-size: 16px;
}


@media screen and (max-width: 880px) {
    .logoAndLinksWrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .navigationDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navigateLines{
        display: flex;
        flex-direction: column;
    }

    .logoDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigateLines{
        margin-top: 20px;
        margin-right: 0px;
        min-height: 120px;
        min-width: 165px;
        text-align: center;
    }

    .navigateLines:last-child {
        margin-top: 0;
    }

}