.mainWrapper {
    position: relative;
    margin-bottom: 40px;
}

.mainDiv {
    height: 430px;
}

.contentWrapper {
    display: flex;
}

.homeHeaderContent {
    height: 430px;
    width: 50%;
}

.subTitle {
    color: #A3A3A3;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 57px;
    margin-bottom: 20px;
}

.title {
    color: #223150;
    font-size: 52px;
    max-width: 760px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}

.contentDiv {
    height: 195px;
    margin-bottom: 16px;
}

.content {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 105px;
}

.selectedWordInTitle {
    color: #00c2df;
}

.imgDiv {
    height: 510px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}